<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>DocumentScanner</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="main d-flex justify-content-center col-lg-5 col-md-6 col-sm-8 align-self-center">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <h1 id="titulo">Document Reader</h1>
                    </div>
                    <div class="row input">
                        <input type="file" name="picture" accept="image/png, image/jpeg">

                    </div>

                    <div class="row input">
                        <label for="languaje">Elija un idioma si quiere traducir el resultado</label>
                        <select name="languaje">
                            <option value="ninguno">No traducir</option>
                            <option value="english">Ingles</option>
                            <option value="spanish">Español</option>
                            <option value="italian">Italiano</option>
                        </select>
                    </div>

                    <div class="row input">
                        <input type="submit" value="Aceptar">
                    </div>

                    <div class="row integrantes">
                        <p>Tomas Benitez Vescio, Octavio Frattura, Joaquin Patricio Rodil</p>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>